PORT=5000
MONGODB_URI=mongodb+srv://Supusha:Supusha@backend.jirzpwc.mongodb.net/?appName=Backend
JWT_SECRET=16d0ae2272d3728b6bbc60d4e7aa0aa92d5c71b785f9638c65eb95b05d4a48a9
CLIENT_URL=https://your-frontend.up.railway.app
NODE_ENV=production
